#styleguide

  %nav
    %a{:href => "#colors"}>Colors
    %a{:href => "#typography"}>Typography
    %a{:href => "#buttons"}>Buttons
    %a{:href => "#forms"}>Forms
    %a{:href => "#lists"}>Lists

  %article#colors
    = partial :'styleguide/colors'

  %article#typography
    = partial :'styleguide/typography'

  %article#buttons
    = partial :'styleguide/buttons'

  %article#forms
    = partial :'styleguide/forms'

  %article#lists
    = partial :'styleguide/lists'

  %article#tables
    = partial :'styleguide/tables'