#styleguide

  %article#colors
    = partial :'styleguide/colors'

  %article#typography
    = partial :'styleguide/typography'

  %article#buttons
    = partial :'styleguide/buttons'

  %article#forms
    = partial :'styleguide/forms'

  %article#lists
    = partial :'styleguide/lists'
